.icon-cards {
	 position: relative;
	 width: 69.83vw;
	 height: 46.55vw;
	 max-width: 466px;
	 max-height: 303px;
	 margin: 0;
	 color: white;
	 perspective: 1000px;
	 transform-origin: center;
}
 .icon-cards__content {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 transform-origin: center;
	 transform-style: preserve-3d;
	 transform: translateZ(-30vw) rotateY(0);
	 animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
 .icon-cards__content.step-animation {
	 animation: carousel 8s infinite steps(1) forwards;
}
 .icon-cards__item {
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 width: 69.83vw;
	 height: 46.55vw;
	 max-width: 466px;
	 max-height: 303px;
	 box-shadow: 0 5px 20px rgba(0, 0, 0, .1), 0 0 25px 4px rgba(30, 58, 138, 0.35);
	 border-radius: 14px;
	 transform-origin: center;
	 overflow: hidden;
}
 .icon-cards__item img {
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
	 border-radius: 14px;
}
 .icon-cards__item:nth-child(1) {
	 transform: rotateY(0) translateZ(55vw);
}
 .icon-cards__item:nth-child(2) {
	 transform: rotateY(120deg) translateZ(55vw);
}
 .icon-cards__item:nth-child(3) {
	 transform: rotateY(240deg) translateZ(55vw);
}
 @keyframes carousel {
	 0%, 17.5% {
		 transform: translateZ(-55vw) rotateY(0);
	}
	 27.5%, 45% {
		 transform: translateZ(-55vw) rotateY(-120deg);
	}
	 55%, 72.5% {
		 transform: translateZ(-55vw) rotateY(-240deg);
	}
	 82.5%, 100% {
		 transform: translateZ(-55vw) rotateY(-360deg);
	}
}