.hover-overline-animation {
    display: inline-block;
    position: relative;
}

.navbar-dropdown-trigger.hover-overline-animation {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
}

.hover-overline-animation::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    top: 0;
    /* Statt bottom setzen wir es nach oben */
    left: 0;
    background-color: #ffffff;
    transform-origin: top right;
    transition: transform 0.25s ease-out;
}

.hover-overline-animation:hover::before {
    transform: scaleX(1);
    transform-origin: top left;
}
