{% extends "base.html" %} {% load compress static %}

{% block title %}{{block.super}} | Warenkorb erfolgreich verifiziert{% endblock title %}

{% block content %}

<section class="flex h-screen shadow-xl w-full items-center justify-center bg-blue-50">
    <div class="w-full max-w-sm rounded-2xl bg-white p-3">
      <div class="my-5 flex w-full items-center justify-center">
        <div class="rounded-full bg-green-100 p-3">
          <div class="rounded-full bg-green-600 p-2 text-xl font-bold text-white">
            <i class="bi bi-envelope-check h-6 w-6"></i>
          </div>
        </div>
      </div>
      <div class="text-center">
        <h2 class="mb-7 text-xl font-semibold">Warenkorb erfolgreich verifiziert!</h2>
        <div class="flex justify-center">
          <p class="w-3/4">Sie werden in den nächsten Minuten <strong>eine E-Mail mit der Bestellübersicht und einem Link zur Kasse erhalten</strong>. <br>Dort können Sie dann entscheiden, ob und wie Sie mit ihrer Bestellung fortfahren wollen.</p>
        </div>
      </div>
      <div class="mt-7 mb-4 w-full flex justify-center px-5">
        <a href="/" class="bg-green-500 hover:bg-green-600 p-2 rounded-xl text-white w-full text-center">Weiterstöbern</a>
      </div>
    </div>
  </section>
  



{%endblock content%}
