{% extends "cmsbase.html" %}
{% load compress static %}
{% block title %} {{block.super}} | CMS - Kundenaufträge {% endblock %}

{% block content %}


<div class="container mx-auto max-w-5xl">
    <h1 class="text-2xl ">
        <a href="{% url 'cms:shop' %}" class="text-blue-500">Shop</a> / <span id="titleSpan">Kundenaufträge</span>
      </h1>
    <div class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4 sm:mt-8">
        <!-- Card Item -->
        <div class="w-full rounded-2xl bg-white px-4 py-2 shadow-lg">
            <div class="flex justify-between">
                <div>
                    <p class="text-sm font-semibold text-slate-500">Aufträge</p>
                    <span class="text-xl font-bold text-slate-600">{{ total_orders }}</span>
                </div>
                <div class="flex w-12 items-center justify-center rounded-xl bg-blue-400 p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-card-checklist text-white" viewBox="0 0 16 16">
                        <path
                            d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
                        <path
                            d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0" />
                    </svg>
                </div>
            </div>
        </div>
        <!-- Card Item -->
        <div class="w-full rounded-2xl bg-white px-4 py-2 shadow-lg">
            <div class="flex justify-between">
                <div>
                    <p class="text-sm font-semibold text-slate-500">Umsatz</p>
                    <span class="text-xl font-bold text-slate-600">{{ total_revenue }}€</span>
                </div>
                <div class="flex w-12 items-center justify-center rounded-xl bg-blue-400 p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-cash-coin text-white" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8m5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0" />
                        <path
                            d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195z" />
                        <path
                            d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083q.088-.517.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1z" />
                        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 6 6 0 0 1 3.13-1.567" />
                    </svg>
                </div>
            </div>
        </div>
        <!-- Card Item -->
        <div class="w-full rounded-2xl bg-white px-4 py-2 shadow-lg">
            <div class="flex justify-between">
                <div>
                    <p class="text-sm font-semibold text-slate-500">Kunden</p>
                    <span class="text-xl font-bold text-slate-600">{{ total_clients }}</span>
                </div>
                <div class="flex w-12 items-center justify-center rounded-xl bg-blue-400 p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-people text-white" viewBox="0 0 16 16">
                        <path
                            d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4" />
                    </svg>
                </div>
            </div>
        </div>
        <!-- Card Item -->
        <div class="w-full rounded-2xl bg-white px-4 py-2 shadow-lg">
            <div class="flex justify-between">
                <div>
                    <p class="text-sm font-semibold text-slate-500">Offen</p>
                    <span class="text-xl font-bold text-slate-600">{{ open_orders }}</span>
                </div>
                <div class="flex w-12 items-center justify-center rounded-xl bg-blue-400 p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-cash-stack text-white" viewBox="0 0 16 16">
                        <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                        <path
                            d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-6 grid grid-cols-1 gap-4 lg:mt-9 lg:grid-cols-5">
        <div class="rounded-2xl bg-white px-4 py-2 shadow-lg lg:col-span-3">
            <h3 class="font-medium text-xl text-slate-700">Meistverkaufte Produkte</h3>
            <table class="my-2 w-full table-auto text-left">
                <thead class="mb-2">
                    <tr>
                        <th class="text-slate-500">Produkt</th>
                        <th class="text-slate-500">Käufe</th>
                        <th class="text-slate-500">Umsatz</th>
                    </tr>
                </thead>

                <tbody class="font-medium text-slate-700">
                    {% for product in most_bought_products %}
                    <a href="">
                        <tr class="mb-2 rounded-2xl py-4 hover:cursor-pointer hover:bg-blue-50">
                            <td class="flex">
                                <img class="mr-2 w-10 rounded-xl" src="{{ product.product__title_image.url }}" alt="" /> 
                                {{product.product__title }}</td>
                            <td>{{ product.total_quantity }}</td>
                            <td>{{ product.total_cash }}€</td>
                        </tr>
                    </a>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="rounded-2xl bg-white px-4 py-2 shadow-lg lg:col-span-2">
            <h3 class="font-medium text-xl text-slate-700">Größte Käufer</h3>
            <table class="my-2 w-full table-auto text-left">
                <thead class="mb-2">
                    <tr>
                        <th class="text-slate-500">Käufer</th>
                        <th class="text-slate-500">Volumen</th>
                    </tr>
                </thead>

                <tbody class="text-base font-medium text-slate-700">
                    {% for buyer in biggest_buyers %}
                    <tr class="mb-2 py-4">
                        <td>{{ buyer.buyer_email }}</td>
                        <td>{{ buyer.total_spent }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- All Orders Section -->
    <h2 class="text-2xl text-slate-700 font-semibold mt-8">Alle Aufträge</h2>
    <div class="mt-4 max-h-screen space-y-2 overflow-auto rounded-2xl bg-white px-3 py-2 shadow-lg sm:px-4">
        {% for order in all_orders %}

        <div class="grid w-full grid-cols-2 gap-3 rounded-2xl bg-slate-50 px-4 py-3 sm:grid-cols-3 lg:grid-cols-6 lg:py-2">
            <div class="flex flex-col items-center">
                <p class="text-sm text-gray-500">Id:</p>
                <p class="font-medium text-gray-700">{{ order.id }}</p>
            </div>
            <div class="flex flex-col items-center">
                <p class="text-sm text-gray-500">Anzahl:</p>
                <p class="font-medium text-gray-700">{{ order.total_quantity }}</p>
            </div>
            <div class="flex flex-col items-center">
                <p class="text-sm text-gray-500">Umsatz</p>
                <p class="font-medium text-gray-700">{{ order.total }}</p>
            </div>
            <div class="flex flex-col items-center">
                <p class="text-sm text-gray-500">Erstellt</p>
                <p class="font-medium text-gray-700">{{ order.created_at }}</p>            </div>
            <div class="flex flex-col items-center lg:w-36">
                <p class="text-sm text-gray-500">Status</p>
                {% if order.status == 'OPEN' %}
                <p class="rounded-2xl bg-yellow-400 px-2 text-sm font-medium text-gray-700">{{ order.get_status_display }}</p>
                {% elif order.status == 'PAID' %}
                <p class="rounded-2xl bg-orange-400 px-2 text-sm font-medium text-gray-700">{{ order.get_status_display }}</p>
                {% elif order.status == 'READY_FOR_PICKUP' %}
                <p class="rounded-2xl bg-blue-400 px-2 text-sm font-medium text-gray-700">{{ order.get_status_display }}</p>
                {% elif order.status == 'SHIPPED' %}
                <p class="rounded-2xl bg-purple-400 px-2 text-sm font-medium text-gray-700">{{ order.get_status_display }}</p>
                {% elif order.status == 'COMPLETED' %}
                <p class="rounded-2xl bg-green-500 px-2 text-sm font-medium text-gray-700">{{ order.get_status_display }}</p>
                {% endif %}
            </div>
            <div class="flex flex-col items-center justify-center">
                <a href="/cms/orders/{{order.id}}/"
                    class="rounded bg-blue-500 px-2 py-1 font-bold text-white hover:cursor-pointer hover:bg-blue-700">
                    Verwalten </a>
            </div>
        </div>

        {% endfor %}
    </div>
</div>


{% block javascriptend %}
{% compress js %}
{% endcompress js %}
{% endblock javascriptend %}

{% endblock content %}
